{% extends 'base.html.twig' %}

{% block contenu %}
    <h2 class="text-center display-3">Modification du mot de passe</h2>
{{ form(formulaire) }}
   <alert class="alert-info">{{ notification }}</alert>
    <br>
    <br>
{% endblock %}