{% extends 'base.html.twig' %}

{% block contenu %}


    <alert class="alert-dark">La suite a bien été supprimée</alert> <br>

    <a href="{{ path('app_account')}}" class="btn btn-dark">Revenir sur ma page membre</a>

{% endblock %}