#ligneheader2{
    display : none;
}

.hauteurheader{
    height : 15%;
    position :relative;


}

.hauteurfooter{
    height : 8%;
    bottom : 0;

}

#bodydy{
    position : absolute;
    z-index:1;
    min-height : 100%;
    background-color : white;
}

#menucache{

    position : absolute;
    right : 1300px;
    z-index:2;
    background-color : black;
    height : 100%;
    width : 100%;
    opacity : 0;
    transition : 1s;
    box-shadow: 0px 10px 15px black;
}

nav {

    max-height : 100%;
}

li {

    font-size : 1.8rem;
    list-style : none;
    text-align: center;
    margin-top : 30px;
}

li a {

    text-decoration : none;
    color : white;
}

div a{
    text-decoration : none;
    color : #565e64;
}

div a:hover{
    text-decoration : underline;
    color : #565e64;
}

footer{
    font-size : 0.8rem;
}

.taillecarrousel{
    min-height: 260px;
}



@media(min-width: 768px){

    #ligne1header{
        display : none;
    }

    #ligneheader2{
        display:flex;
    }



}