{% extends 'base.html.twig' %}

{% block contenu %}
    <br>
<div class="display-6">
    Passez un inoubliable moment romantique avec le groupe hotelier HYPNOS
</div><br><br><br>
    <div class="display-6">
7 Etablissements partout en France, des suites juste mémorables.
    </div><br><br><br><br>
    <div class="display-4 text-decoration-underline">
        Du romantisme :
        <br><br>
        <img src="{{ asset('images/suite3.jpg') }}" class="img-fluid img-thumbnail">
    </div><br><br>

    <div class="display-4 text-decoration-underline">
        De l'atypique :
        <br><br>
        <img src="{{ asset('images/suite4.jpg') }}" class="img-fluid img-thumbnail">
    </div> <br><br><br>

    <div class="display-6">
        -Découvrez dès à présent nos différents établissements ainsi que leur magnifiques suites :<br><br>

        <a href="#">Hypnos Paris</a><hr>
        <a href="#">Hypnos Marseille</a><hr>
        <a href="#">Hypnos Toulouse</a><hr>
        <a href="#">Hypnos Bordeaux</a><hr>
        <a href="#">Hypnos Nîmes</a><hr>
        <a href="#">Hypnos Lyon</a><hr>
        <a href="#">Hypnos Reims</a><br>
    </div>
    <br><br><br><br><br>
{% endblock %}