{% extends 'base.html.twig' %}

{% block contenu %}
    <br>
<div class="display-1">
    Passez un inoubliable moment romantique avec le groupe hotelier HYPNOS
</div><br><br><br>
    <div class="display-4">
7 Etablissements partout en France, Des suites juste mémorables.
    </div><br><br><br><br>
    <div class="display-2">
        Du romantisme :
        <br><br>
        <img src="{{ asset('images/suite3.jpg') }}">
    </div><br><br>

    <div class="display-2">
        De l'atypique :
        <br><br>
        <img src="{{ asset('images/suite4.jpg') }}">
    </div> <br><br><br>

    <div class="display-4">
        -Découvrez dès à présent nos différents établissements ainsi que leur magnifiques suites :<br><br>

        <a href="#">Hypnos Paris</a><br>
        <a href="#">Hypnos Marseille</a><br>
        <a href="#">Hypnos Toulouse</a><br>
        <a href="#">Hypnos Bordeaux</a><br>
        <a href="#">Hypnos Nîmes</a><br>
        <a href="#">Hypnos Lyon</a><br>
        <a href="#">Hypnos Reims</a><br>
    </div>
    <br><br><br><br><br>
{% endblock %}