<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset = "utf-8">
    <title>{% block titre %} Hotels Hypnos {% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/monstyle.css') }}">
</head>

<body class="vh-100">
{% block header %}
  <div class="container-fluid hauteurheader">
    <div class="row h-100 align-items-center">
        <div class="col-2">
            LOGO
        </div>
        <div class="col-9">

        </div>
        <div class="col-1">
            Menu
        </div>
    </div>

</div>

{% endblock %}
{% block contenu %}
{% endblock %}
{% block footer %}
{% endblock %}
</body>

</html>